.content {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form,
.div-link,
.github-user,
.confirm-button {
  width: 80%;
}

.verify-button {
  border: 0;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: var(--primary-inverted-text-color);
  background: var(--primary-background);
  cursor: pointer;
  opacity: 0.65;
}

.verify-button:hover {
  opacity: 0.45;
}

.verify-error {
  color: red;
}

.confirm-button {
  border: 0;
  padding: 0;
  margin: 10px 0;
  height: 40px;
  border-radius: 10px;
  color: var(--primary-inverted-text-color);
  background: var(--primary-background);
  cursor: pointer;
}

.confirm-button:hover {
  opacity: 0.85;
}

.fieldset {
  margin-top: 10px;
  width: 100%;
}

.verify-button,
.confirm-button,
.input {
  font-size: 12pt;
}

.input {
  border: 0;
  // border: solid 1px var(--primary-background);
  width: calc(100% - 15px);
  height: 30px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 10px;
}

.div-link {
  margin-top: 15px;
  text-align: right;
}

.anchor-link {
  color: var(--primary-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.anchor-link:hover {
  opacity: 0.65;
}

.github-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.github-user-avatar {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .form,
  .div-link,
  .github-user,
  .confirm-button {
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .form,
  .div-link,
  .github-user,
  .confirm-button {
    width: 100%;
  }
}
