<div class="content">
  <form class="form">
    <fieldset class="fieldset">
      <label for="github-user" class="input-label">GitHub Username</label>
      <input id="github-user" type="text" class="input" #inputGithubUsername />
    </fieldset>
    <button type="button" (click)="searchGithubUser(inputGithubUsername.value)" class="verify-button">
      {{ verifyButton }}
    </button>
    <p class="verify-error">{{ error }}</p>
  </form>

  <div *ngIf="githubUser; then confirmDiv; else backLink"></div>
  <ng-template #confirmDiv>
    <div class="github-user">
      <img class="github-user-avatar" src="{{ githubUser?.avatarUrl }}" alt="" />
      <p>@{{ githubUser?.username }} ({{ githubUser?.name }})</p>
      <p>{{ githubUser?.publicRepositories }} Public Repositories</p>
    </div>
    <button type="button" (click)="confirmGithubUser(githubUser)" class="confirm-button">
      Confirm @{{ githubUser?.username }}
    </button>
  </ng-template>

  <ng-template #backLink>
    <div class="div-link">
      <a (click)="goToLogin()" class="anchor-link">I have an account</a>
    </div>
  </ng-template>
</div>
