<section class="page-header">
  <div class="div-github-button">
    <button [disabled]="loading" type="button" class="button-github-refresh" (click)="refreshGithubRepositories()">
      <img class="img-github-refresh" src="assets/imgs/github.png" width="20px" alt="" />
      Refresh
    </button>
    <span class="github-username">@{{ githubUsername }}</span>
  </div>
  <div class="div-search-tag">
    <form class="search-form" [formGroup]="searchForm">
      <input
        [disabled]="loading"
        class="input-search-tag"
        type="text"
        (keyup.enter)="searchTag()"
        [value]="searchTagText"
        formControlName="search"
      />
      <button
        *ngIf="searchTagText"
        [disabled]="loading"
        class="button-search-tag-remove"
        type="button"
        (click)="cleanSearchTag()"
      >
        X
      </button>
      <button [disabled]="loading" class="button-search-tag" type="button" (click)="searchTag()">Search Tags</button>
    </form>
  </div>
  <div class="div-logout">
    <button [disabled]="loading" class="button-logout" type="button" (click)="logout()">Logout</button>
  </div>
</section>

<section class="repositories-section">
  <app-repositories-list (isLoading)="setLoading($event)"></app-repositories-list>
</section>
