.page-header {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.repositories-section {
  width: 100%;
}

.div-github-button,
.div-logout {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.div-search-tag {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-github-refresh,
.button-search-tag,
.button-search-tag-remove,
.button-logout {
  margin: 0;
  border: 0;
  height: 32px;
  background: var(--primary-background);
  font-size: 10pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 15px;
}

.button-github-refresh {
  color: white;
  border-radius: 10px;
}

.github-username {
  font-size: 10pt;
}

.button-logout {
  background-color: var(--secondary-background);
  color: var(--primary-text-color);
  border-radius: 10px;
}

.search-form {
  flex-grow: 1;
  display: flex;
  margin: 0;
  border: 0;
}

.input-search-tag {
  flex-grow: 1;
  padding: 0 10px;
  margin: 0;
  border: 0;
  height: 30px;
  border-radius: 10px 0 0 10px;
  font-size: 12pt;
  background: var(--input-background);
}

.button-search-tag {
  background: var(--secondary-button-background);
  color: white;
  border-radius: 0 10px 10px 0;
}

.button-search-tag-remove {
  background: var(--call-to-action-button-background);
  color: white;
}

@media screen and (max-width: 767px) {
  .page-header {
    gap: 15px;
  }
}

@media screen and (max-width: 575px) {
  .page-header {
    padding: 20px 0;
    flex-direction: column;
  }

  .button-search-tag-remove,
  .input-label,
  .button-search-tag,
  .button-github-refresh,
  .button-logout {
    height: 30px;
  }
}
