<div class="pagination">
  <div class="current-page">
    <p>Page {{ currentPage }}/{{ lastPage || 1 }}</p>
  </div>

  <div class="pages-display">
    <ng-template [ngIf]="totalItems">
      <button class="button-pages-display" (click)="toFistPage()"><<</button>
      <button class="button-pages-display" (click)="toPreviousPage()"><</button>
      <ng-template ngFor let-page [ngForOf]="pages">
        <button [ngClass]="page.current ? 'page-selected' : 'button-pages-display'" (click)="changeToPage(page.page)">
          {{ page.page }}
        </button>
      </ng-template>
      <button class="button-pages-display" (click)="toNextPage()">></button>
      <button class="button-pages-display" (click)="toLastPage()">>></button>
    </ng-template>
  </div>

  <div class="pages-count">
    <p>{{ totalItems }} repos</p>
  </div>
</div>
