.pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
  padding: 15px 5px;
  font-size: 10pt;
  border-radius: 10px;
}

.current-page,
.pages-count {
  flex-grow: 0;
}

.pages-display {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.page-selected,
.button-pages-display {
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.page-selected {
  background: var(--primary-background);
  color: var(--primary-inverted-text-color);
}

.button-pages-display {
  background: transparent;
  color: var(--primary-text-color);
}

.button-pages-display:hover,
.button-pages-display:active {
  background: var(--primary-background);
  color: var(--primary-inverted-text-color);
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
  .pagination {
    width: 90%;
    gap: 15px;
    padding: 15px 15px;
    flex-direction: column;
  }
}
