<div *ngIf="!loading && !empty; then repositoriesLoaded; else loadingTemplate"></div>

<ng-template #repositoriesLoaded>
  <ng-template ngFor let-repository [ngForOf]="repositories">
    <app-repositories-card [repository]="repository"></app-repositories-card>
  </ng-template>
  <app-pagination
    [currentPage]="pageInformation.currentPage"
    (changePage)="changePage($event)"
    [totalItems]="pageInformation.totalItems"
    [pageSize]="pageInformation.pageSize"
  ></app-pagination>
</ng-template>

<ng-template #loadingTemplate>
  <p class="text-center">
    <img *ngIf="!empty" src="assets/loader.svg" width="15px" alt="" />
    {{ loading }}
  </p>
</ng-template>

<ng-template [ngIf]="empty">
  <p class="text-center">You don't have any starred github repositories.</p>
</ng-template>
