.header {
  position: fixed;
  height: 100px;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
  overflow: hidden;
  background-color: var(--primary-background);
}

.header-logo {
  margin-top: 24px;
}

.main {
  margin: 100px auto 32px;
  padding: 0 16px;
  max-width: 900px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    height: 80px;
    text-align: center;
    overflow: hidden;
    background-color: var(--primary-background);
  }

  .header-logo {
    margin-top: 12px;
    padding: 0;
  }

  .main {
    max-width: 600px;
  }
}

@media screen and (max-width: 575px) {
  .header {
    position: unset;
    height: 60px;
    text-align: center;
    overflow: unset;
    background-color: var(--primary-background);
  }

  .header-logo {
    margin-top: 2px;
    padding: 0;
  }

  .main {
    margin: 0 auto;
    max-width: 300px;
  }
}
