<div class="content">
  <div *ngIf="errorMessage" class="error-div" role="alert">
    <p class="error-message">{{ errorMessage }}</p>
    <button
      type="button"
      class="close error-close-button"
      data-dismiss="alert"
      aria-label="Close"
      (click)="cleanMessages()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form class="form" [formGroup]="loginForm">
    <fieldset class="fieldset">
      <label for="email" class="input-label">Email</label>
      <input formControlName="email" id="email" type="email" class="input" />
    </fieldset>
    <fieldset class="fieldset">
      <label for="password" class="input-label">Password</label>
      <input formControlName="password" id="password" type="password" class="input" />
    </fieldset>
    <button type="submit" class="confirm-button" (click)="login()">Login</button>
    <div class="div-link">
      <a (click)="goToSignin()" class="anchor-link">I want to create an account</a>
    </div>
  </form>
</div>
