<div class="repository-card">
  <p class="repository-id">#{{ repository?.id }}</p>
  <div class="div-repository-content">
    <p class="repository-name">{{ repository?.name }}</p>
    <p class="repository-description">{{ repository?.description }}</p>
    <a target="_blank" [href]="repository?.url" class="repository-link">{{ repository?.url }}</a>
  </div>
  <div class="div-repository-tags">
    <div *ngFor="let tag of repository?.tags; index as i" class="repository-tag">
      <span class="repository-tag-text">{{ tag }}</span>
      <button class="repository-tag-remove" (click)="removeTag(tag)">X</button>
    </div>
    <input
      *ngIf="displayTagInput"
      class="input-repository-tag"
      type="text"
      width="60px"
      (keyup.enter)="addTag(inputTag.value)"
      (focusout)="addTag(inputTag.value)"
      #inputTag
    />
    <button class="button-repository-tag" (click)="showTagInput()" [disabled]="disableAll">Add Tag +</button>
    <span *ngIf="modified" class="repository-tag-saving">
      <img class="disabled-svg" src="assets/loader-white.svg" alt="" /> Saving
    </span>
  </div>
</div>
