.repository-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  background: white;
  margin: 10px 0;
  padding: 15px 5px;
  font-size: 10pt;
  border-radius: 10px;
}

.div-repository-tags,
.repository-id {
  flex-grow: 0;
}

.div-repository-content {
  flex-grow: 1;
}

.div-repository-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.repository-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.repository-tag {
  background: var(--tags-background);
  color: var(--tags-text-color);
  min-height: 25px;
  padding: 0;
  border-radius: 5px;
}

.repository-tag-text {
  padding: 5px 10px;
}

.repository-tag-remove {
  background: var(--tags-background);
  color: var(--primary-inverted-text-color);
  height: 100%;
  border-radius: 0 5px 5px 0;
  border: 0;
  margin: 0px;
  cursor: pointer;
}

.input-repository-tag {
  border: 1px solid var(--tags-background);
  border-radius: 5px;
  width: 80px;
  font-size: 12pt;
}

.button-repository-tag {
  border: 0;
  height: 25px;
  min-width: 65px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: var(--primary-inverted-text-color);
}

.button-repository-tag {
  background: var(--secondary-button-background);
}

.repository-tag-saving {
  background: var(--call-to-action-button-background);
  color: var(--primary-inverted-text-color);
  border: 0;
  margin: 0;
  height: 20px;
  width: 60px;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
}

.disabled-svg {
  width: 10px;
  margin: 0;
}

.repository-link {
  color: var(--blue-text-color);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
  .repository-card {
    width: 90%;
    gap: 15px;
    padding: 15px 15px;
    flex-direction: column;
  }

  .div-repository-tags {
    gap: 10px;
  }
}
