.content {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-div {
  display: flex;
  background: #ffd8d8;
  padding: 5px;
  color: var(--primary-text-color);
  border-radius: 5px;
  margin: 5px 0;
  width: 80%;
}

.error-close-button {
  border: 0;
  background: #ffd8d8;
}

.form {
  width: 80%;
}

.confirm-button {
  border: 0;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: var(--primary-inverted-text-color);
  background: var(--primary-background);
  cursor: pointer;
}

.confirm-button:hover {
  opacity: 0.85;
}

.fieldset {
  margin-top: 10px;
  width: 100%;
}

.confirm-button,
.input {
  font-size: 12pt;
}

.input {
  border: 0;
  // border: solid 1px var(--primary-background);
  width: calc(100% - 15px);
  height: 30px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 10px;
}

.input:read-only {
  color: white;
  background-color: var(--primary-background);
  opacity: 0.35;
}

.div-link {
  margin-top: 15px;
  text-align: right;
}

.anchor-link {
  color: var(--primary-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.anchor-link:hover {
  opacity: 0.65;
}

@media screen and (max-width: 767px) {
  .error-div,
  .form {
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .error-div,
  .form {
    width: 100%;
  }
}
