<div class="content">
  <div *ngIf="errorMessage" class="error-div" role="alert">
    <p class="error-message">{{ errorMessage }}</p>
    <button
      type="button"
      class="close error-close-button"
      data-dismiss="alert"
      aria-label="Close"
      (click)="cleanMessages()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form class="form" [formGroup]="userForm">
    <fieldset class="fieldset">
      <label for="name" class="input-label">Name</label>
      <input formControlName="name" id="name" type="text" class="input" />
    </fieldset>
    <fieldset class="fieldset">
      <label for="github-username" class="input-label">Github Username</label>
      <input formControlName="githubUsername" id="github-username" type="text" class="input" readonly />
    </fieldset>
    <fieldset class="fieldset">
      <label for="email" class="input-label">Email</label>
      <input formControlName="email" id="email" type="email" class="input" />
    </fieldset>
    <fieldset class="fieldset">
      <label for="password" class="input-label">Password</label>
      <input formControlName="password" id="password" type="password" class="input" />
    </fieldset>
    <fieldset class="fieldset">
      <label for="confirm-password" class="input-label">Confirm Password</label>
      <input formControlName="confirmPassword" id="confirm-password" type="password" class="input" />
    </fieldset>
    <button type="submit" class="confirm-button" (click)="processForm()">Create Account</button>
    <div class="div-link">
      <a (click)="goToLogin()" class="anchor-link">I have an account</a>
    </div>
  </form>
</div>
